<%= form_for @conn, Routes.home_path(@conn, :new), fn f -> %>
  <%= text_input(f, :newsletter_name,
    placeholder: "Newsletter name…",
    maxlength: 500,
    required: "",
    pattern: ".*\\S.*",
    autocomplete: "off",
    autofocus: ""
  ) %>
  <%= submit("Create inbox") %>
<% end %>
